.index-pagina {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.header-index {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
}

.cartas {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.cartas-mini {
  background-color: white;
  width: 200px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.cartas-mini img {
  width: 100%;
}

.cartas-mini h3 {
  margin: 15px;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.card1 {
  background-image: url(../images/fondo-card1.png);
  display: flex;
  justify-content: center;
  width: 506px;
  height: 328px;
}

.recuadro-contenido-card-1 {
  width: 454px;
  height: 279px;
  margin-top: 20px;
}

.recuadro-fecha-card1 {
  display: flex;
  gap: 15px;
}

.recuadro-fecha-card1 h1 {
  color: #ffffff;
  width: 123px;
  height: 14px;
  font-family: Gilroy-Light;
  font-weight: 400;
  font-size: 11.78px;
  line-height: 100%;
  letter-spacing: -0.33px;
}

.recuadro-fecha-card1 h2 {
  color: #ffffff;
  width: 123px;
  height: 14px;
  font-family: Gilroy-Medium;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
}

.recuadro-lugar-card1 {
  color: #ffffff;
  width: 74px;
  height: 47px;
}

.recuadro-lugar-card1 h1 {
  width: 74px;
  height: 27px;
  font-family: Lato;
  font-weight: 700;
  font-size: 22.77px;
  line-height: 100%;
  letter-spacing: 0%;
}

.recuadro-lugar-card1 h2 {
  width: 55px;
  height: 22px;
  font-family: Lato;
  font-weight: 400;
  font-size: 11.39px;
  line-height: 22.77px;
  letter-spacing: 1.63px;
  margin-top: -20px;
}

.recuadro-texto-info-card1 {
  color: #ffffff;
  width: 451px;
  height: 91px;
  font-family: Gilroy-Light;
  font-weight: 400;
  font-size: 17.08px;
  line-height: 109.00000000000001%;
  letter-spacing: 0%;
}

.recuadro-tiempo-card1 {
  width: 105px;
  height: 54px;
}

.recuadro-tiempo-grados-card1 {
  display: flex;
  width: 79px;
  height: 33px;
  gap: 10px;
}

.recuadro-tiempo-grados-card1 img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 34px;
  height: 28px;
  padding-top: 13px;
}

.recuadro-tiempo-grados-card1 h1 {
  width: 37px;
  height: 31px;
  font-family: Lato;
  font-weight: 700;
  font-size: 26.29px;
  line-height: 100%;
  letter-spacing: -1.84px;
}

.recuadro-tiempo-texto-card1 {
  width: 110px;
  height: 20px;
  font-family: Gilroy-Light;
  font-weight: 400;
  font-size: 17px;
}

.card2 {
  display: flex;
  justify-content: center;
  background-image: url(../images/fondo-card2.jpg);
  background-position: center;
  background-size: cover;
  width: 309px;
  height: 246px;
}

.recuadro-card2 {
  color: #ffffff;
  margin-top: 120px;
  width: 274px;
  height: 108px;
}

.recuadro-card2 h1 {
  width: 174px;
  height: 71px;
  margin-top: 0px;
  font-family: Gilroy-Bold;
  font-weight: 800;
  font-size: 28.86px;
}

.recuadro-p-button-card2 {
  display: flex;
}

.recuadro-card2 p {
  margin-top: -15px;
  width: 174px;
  height: 32px;
  font-family: Gilroy-light;
  font-weight: 400;
  font-size: 11.22px;
  line-height: 144%;
  letter-spacing: 0%;
}

.recuadro-p-button-card2 button {
  margin-top: -15px;
  margin-left: 20px;
  background-color: #00000080;
  color: #ffffff;
  width: 81px;
  height: 34px;
  border-radius: 24.85px;
  border: 0.8px solid #ffffff;
  font-family: Gilroy-bold;
  font-weight: 800;
  font-size: 12.82px;
  line-height: 100%;
  letter-spacing: 0px;
}

.card3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 146px;
  height: 246px;
}

.fondo-img-card3 {
  background-image: url(../images/fondo-card3.jpg);
  background-position: center;
  background-size: cover;
  width: 146px;
  height: 158px;
}

.recuadro-texto-card3 {
  width: 120px;
  height: 35px;
}

.recuadro-texto-card3 h1 {
  margin-left: 10px;
  width: 110px;
  height: 35px;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11.52px;
  line-height: 144%;
  letter-spacing: 0%;
}

.recuadro-puntuacion-card3 {
  display: flex;
  width: 64px;
  height: 18px;
}

.recuadro-nota-puntuacion h2 {
  margin-top: 25px;
  margin-left: 10px;
  width: 19px;
  height: 18px;
  background-color: #32a636;
  border-radius: 2.56px;
  color: #ffffff;
  font-family: Gilroy-bold;
  font-weight: 800;
  font-size: 10.24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.recuadro-nota-puntuacion p {
  margin-left: 32px;
  margin-top: -23px;
  color: #bdbdbd;
  width: 60px;
  height: 11px;
  font-family: Gilroy-light;
  font-weight: 300;
  font-size: 10.24px;
  line-height: 100%;
}

.recuadro-precio-card3 {
  margin-top: 3px;
  width: 26px;
  height: 33px;
  margin-left: 20px;
}

.recuadro-precio-card3 p {
  width: 26.229818688045725;
  height: 16.63427063022425;
  font-family: Gilroy-light;
  font-weight: 300;
  font-size: 11.52px;
  line-height: 144%;
  letter-spacing: 0%;
}

.recuadro-precio-card3 h1 {
  margin-top: -13px;
  color: #1a2b49;
  width: 26px;
  height: 16px;
  font-family: Gilroy-bold;
  font-weight: 800;
  font-size: 11.52px;
  line-height: 144%;
  letter-spacing: 0%;
}
